@import '../../styles/variables.scss';

.Article {
    &-title {
        font-size: $default-font-size;
    }

    &-img {
        display: block;
        max-width: 100%;
    }

    &-descripion {
        font-size: 12px;
    }
}